absl-py==2.3.1
alembic==1.17.2
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
bidict==0.23.1
biopython==1.86
botorch==0.8.5
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorlog==6.10.1
contourpy==1.1.1
cycler==0.12.1
Cython==3.2.4
dataclasses==0.6
dgl==2.4.0
dill==0.4.0
docopt==0.6.2
filelock==3.13.1
fonttools==4.48.1
forgi==2.2.3
fr3d @ git+https://github.com/cgoliver/fr3d-python.git@5737050fbbc9a5de3ee98b79b320670a424684a6
fsspec==2024.2.0
future==1.0.0
fuzzywuzzy==0.18.0
gemmi==0.7.4
gpytorch==1.10
greenlet==3.3.0
grpcio==1.76.0
huggingface-hub==0.20.3
hydra-core==1.3.2
idna==3.6
importlib-resources==6.1.1
Jinja2==3.1.3
joblib==1.3.2
kiwisolver==1.4.5
linear-operator==0.4.0
logging_exceptions==0.1.9
loguru==0.7.3
Mako==1.3.10
Markdown==3.10
MarkupSafe==2.1.5
matplotlib==3.7.4
mmcif-pdbx==2.0.1
mol-opt @ file:///home/wangx86/rnagent/rnamigos2_mcp/mol-opt-rna
mpmath==1.3.0
multipledispatch==1.0.0
networkx==3.1
nltk==3.8.1
numpy==1.24.4
nvidia-cublas-cu12==12.8.3.14
nvidia-cuda-cupti-cu12==12.8.57
nvidia-cuda-nvrtc-cu12==12.8.61
nvidia-cuda-runtime-cu12==12.8.57
nvidia-cudnn-cu12==9.7.1.26
nvidia-cufft-cu12==11.3.3.41
nvidia-cufile-cu12==1.13.0.11
nvidia-curand-cu12==10.3.9.55
nvidia-cusolver-cu12==11.7.2.55
nvidia-cusparse-cu12==12.5.7.53
nvidia-cusparselt-cu12==0.6.3
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.8.61
nvidia-nvtx-cu12==12.8.55
omegaconf==2.3.0
opt-einsum==3.3.0
optuna==4.6.0
packaging==23.2
pandas==2.0.3
pillow==10.2.0
protobuf==4.25.2
psutil==7.2.1
ptflops==0.7.5
PuLP==3.3.0
pydantic==2.12.5
pydantic_core==2.41.5
pyparsing==3.1.1
pyro-api==0.1.2
pyro-ppl==1.8.6
PyTDC==0.4.1
python-dateutil==2.8.2
pytz==2024.1
PyYAML==6.0.1
rd_filters @ git+https://github.com/PatWalters/rd_filters.git@3630f1a59150b4a203c2f06d8376a66d1d4c3f70
rdkit==2025.9.3
rdkit-pypi==2022.9.5
regex==2023.12.25
requests==2.31.0
rna-fm==0.2.2
rnaglib==3.1.0
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.2
selfies==2.1.1
six==1.16.0
SQLAlchemy==2.0.45
sympy==1.14.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
threadpoolctl==3.3.0
tomli==2.3.0
torch==2.7.0+cu128
torchaudio==2.7.0+cu128
torchdata==0.11.0
torchvision==0.22.0+cu128
tqdm==4.66.2
triton==3.3.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2024.1
urllib3==2.2.0
Werkzeug==3.1.4
zipp==3.17.0
